* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #CBCCC7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (min-width: 480px) {
  body {
    background-color: rgb(189, 152, 138);
  }
}
@media screen and( max-width: 600px){
  body {
    background-color: coral;
  }
}
@media screen and(max-width:992px) {
  body{
    background-color: powderblue;
  }
  
}
  


:root {
  --primary-color: #A9ABA8;
  --secondary-color:#CBCCC7;
   --color:#E0E0D5;
   --color: #D0CABA;
   --color: #B8AB90;
}

button {
    padding: 4px 16px;
    box-shadow: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    opacity:0.2 ;
    width: fit-content;
    /* min-width: 200px; */
    height: 28px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(94, 56, 94);
    border-radius: 2px;

  }

div#jsOutput {
 display: flex;
  size: contain;
    opacity: 0.80;
    width: fit-content;
    padding:2px, 2px, 2px, 2px;
  }
 div.imagewrapper {
  width: 32%;
  height: 30%;
  border: solid black;

 }  
 img{
width: 100%;
height: 100%;
padding: 2px, 2px, 2px, 2px;
 }
 

 img:hover {
  opacity: 0.7;
 }